
html,
body {
 min-height: 100%;
 height: 100%;
 width: 100%;
}

body {
  /* background-color: #161616 */
}
#canvasNebulas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
.container-fluid{
    position: relative;
    z-index: 888;
}
.center-block{
    padding-top: 30%;
}